<div class="flex-col width-100 justify-space-around">
  <div class="flex-row width-100 justify-center on-hover-subline margin-top-sm padding-bottom-sm">
    <div class="flex-row width-03 min-width-03 nuance-tag"></div>
    <div class="flex-row width-97 padding-left-sm">
      <div class="flex-row width-100 justify-space-between">
        <div class="color-nuance font-alata upper-case font-size-md">INVITATIONS</div>
        <div class="color-nuance font-alata upper-case font-size-md">{{ profile.receivedInvitations.count }}</div>
      </div>
    </div>
  </div>
  <div class="flex-row width-100 justify-center on-hover-subline margin-top-sm padding-bottom-sm">
    <div class="flex-row width-03 min-width-03 nuance-tag"></div>
    <div class="flex-row width-97 padding-left-sm ">
      <div class="flex-row width-100 justify-space-between">
        <div class="color-nuance font-alata upper-case font-size-md">ARCHIVES</div>
      </div>
    </div>
  </div>
  <div class="flex-row width-100 justify-center on-hover-subline margin-top-sm padding-bottom-sm">
    <div class="flex-row width-03 min-width-03 blue-tag"></div>
    <div class="flex-row width-97 padding-left-sm">
      <div class="flex-row width-100 justify-space-between">
        <div class="color-blue font-alata upper-case font-size-md text-align-left">NOUVELLE CONVERSATION</div>
      </div>
    </div>
  </div>
</div>