<aside class="flex-col justify-start width-70 right-panel box-sizing-border padding-left-md">
    <div class="interaction-content-container width-100">
        {% include interaction_instance %}
    </div>
</aside>