


<div id="invitation-sending-container-id" class="flex-row justify-start full-width margin-bottom-md margin-top-lg">
    <div class="flex-col width-03 blue-tag box-sizing-border">

    </div>
    <div class="flex-col width-97 box-sizing-border">
        <div class="flex-col justify-start align-start text-align-left form-text-field-container padding-top-sm padding-left-sm ">
            {{ form_label(invitation_sending_form.guest_uuid,null,
                {
                    'label_attr':{'class': 'color-violet font-size-label font-condensed'},
                    'label': 'identifiant : '
                })
            }}
            {{ form_errors(invitation_sending_form.guest_uuid,{
                'container_attr': { 'class': 'classes du container à erreurs' },
                'contained_attr': { 'class': 'classes des contenus' }
                })
            }}
            {{ form_widget(invitation_sending_form.guest_uuid,{
                'attr': {
                    'placeholder': 'identifiant du participant'
                },
                'value': invitation_sending_form.guest_uuid.vars.value,
            }) }}
            {{ form_widget(invitation_sending_form.invitation_submit,{
                'label': 'Inviter',
                'attr': {
                    'class': 'font-size-link invite-sending-button',
                    'data-href': path('inviter_participant')
                }
            }) }}
        </div>
    </div>
</div>


