.color-blue, .color-text, .color-action {
    color: #85A0FF;
}
.color-violet, .color-active, .color-selected{
    color: #DA79E8;
}
.color-nuance {
    color:#8A82FF77;
}
.color-jaune, .color-link {
    color:#ffc97f99;
}
.color-rouge {
    color:#ff6551ff;
}
.color-black {
    color:#333333FF;
}
.color-vert {
    color: #b3e681;
}
.border-color-vert {
    border-color: #b3e681;
}
.border-color-blue {
    border-color: #85A0FF;
}
.border-color-violet {
    border-color: #DA79E8;
}
.border-color-nuance {
    border-color: #8A82FF44;
}
.border-color-jaune {
    border-color:#ffc97f99;
}
.border-color-rouge {
    border-color:#ff6551ff;
}
.blue-tag{
    border: 1px solid #85A0FF;
    background-color: #85A0FF;

}
.jaune-tag{
    border: 1px solid #ffc97f;
    background-color: #ffc97f;
}

.vert-tag{
    border: 1px solid #b3e681;
    background-color: #b3e681;
}