@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto Light";
    src: url('../fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: "Inter ExtraLight";
    src: url('../fonts/ErrorInter-ExtraLight.woff') format('woff'),
    url("../fonts/ErrorInter-ExtraLight.woff2") format('woff2'),
    url("../fonts/ErrorInter-ExtraLight.ttf") format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?91dzgp');
    src:  url('../fonts/icomoon.eot?91dzgp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?91dzgp') format('truetype'),
    url('../fonts/icomoon.woff?91dzgp') format('woff'),
    url('../fonts/icomoon.svg?91dzgp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Alata';
    src: url('../fonts/alata-regular-webfont.woff2') format('woff2'),
    url('../fonts/alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hdd:before {
    content: "\e900";
}
.icon-keyboard:before {
    content: "\e901";
}
.icon-quote:before {
    content: "\e902";
}
.icon-addressbook:before {
    content: "\e903";
}
.icon-hdd1:before {
    content: "\e904";
}
.icon-pencil:before {
    content: "\e905";
}
.icon-image:before {
    content: "\e90d";
}
.icon-camera:before {
    content: "\e90f";
}
.icon-music:before {
    content: "\e911";
}
.icon-play:before {
    content: "\e912";
}
.icon-video-camera:before {
    content: "\e914";
}
.icon-mic:before {
    content: "\e91e";
}
.icon-books:before {
    content: "\e920";
}
.icon-file-text:before {
    content: "\e922";
}
.icon-file-zip:before {
    content: "\e92b";
}
.icon-folder-download:before {
    content: "\e933";
}
.icon-folder-upload:before {
    content: "\e934";
}
.icon-price-tag:before {
    content: "\e935";
}
.icon-phone:before {
    content: "\e942";
}
.icon-phone-hang-up:before {
    content: "\e943";
}
.icon-address-book:before {
    content: "\e944";
}
.icon-reply:before {
    content: "\e96a";
}
.icon-bubble2:before {
    content: "\e96e";
}
.icon-search:before {
    content: "\e986";
}
.icon-equalizer:before {
    content: "\e992";
}
.icon-power:before {
    content: "\e9b5";
}
.icon-cloud-download:before {
    content: "\e9c2";
}
.icon-flag:before {
    content: "\e9cc";
}
.icon-attachment:before {
    content: "\e9cd";
}
.icon-eye:before {
    content: "\e9ce";
}
.icon-eye-blocked:before {
    content: "\e9d1";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-share2:before {
    content: "\ea82";
}

.font-inter {
    font-family: "Inter ExtraLight", sans-serif;
}
.font-roboto {
    font-family: "Roboto Light", sans-serif;
}
.font-condensed {
    font-family: "Roboto Condensed", sans-serif;
}
.font-alata {
    font-family: "Alata", sans-serif;
}
.font-size-title, .font-size-xl, .font-size-40 {
    font-size: 2.5rem;
    line-height: 2.625rem;
}
.font-size-subtitle, .font-size-lg, .font-size-20 {
    font-size: 1.25rem;
    line-height:1.375rem;
}
.font-size-text, .font-size-md, .font-size-16 {
    font-size: 1rem;
    line-height: 1.125rem;
}
.font-size-link, .font-size-label, .font-size-sm, .font-size-14 {
    font-size: 0.875rem;
    line-height: 1rem;
}
.font-size-error, .font-size-xs {
    font-size: 0.75rem;
    line-height: 0.875rem;
}
.capitalized {
    text-transform: capitalize;
}
.upper-case {
    text-transform: uppercase;
}
.lower-case {
    text-transform: lowercase;
}
.letter-spacing-md {
    letter-spacing: 0.1rem;
}