.width-100 {
    width: 100%;
}
.width-97 {
    width:97%;
}
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
.width-60 {
    width: 60%;
}
.width-50 {
    width: 50%;
}
.width-40 {
    width: 40%;
}
.width-30 {
    width: 30%;
}
.width-20 {
    width: 20%;
}
.width-10 {
    width:10%;
}
.width-03 {
    width:3%;
}
.min-width-03 {
    min-width:3%;
}
.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-center{
    justify-content:center;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.box-sizing-border {
    box-sizing: border-box;
}
.box-sizing-content {
    box-sizing: content-box;
}
.border-none {
    border: none;
}
.rounded-border {
    border-radius: 0.8rem;
}
.min-height-2_5rem{
    min-height:2.5rem;
}
.max-height-40vh{
    max-height: 40vh;
}
.block{
    display: block;
}
.inline{
    display: block;
}
.inline-block{
    display: inline-block;
}
.overflow-scroll{
    overflow: scroll;
}
#display-panel{
    z-index: -10;
    position: absolute;
    top: -100%;
}
@media screen and (max-width: 880px){
    #global-container{
        width:90%;
    }
    #aside-panel{
        width:100%;
        transform:translateX(-150%);
        position:fixed;
        top:0;
        left:0;
        transition-property: transform;
        transition-duration:1s;
        z-index: 2;
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        box-sizing:border-box;
    }
    #aside-panel.active{
        transform:translateX(0);
    }
    #main-panel{
        width:100%;
    }
    #display-panel{
        transition-property: transform;
        transition-duration: 500ms;
        z-index:3;
        position: fixed;
        top:unset;
        bottom: 50px;
        right: 50px;
    }
    #display-panel::after{
        content: " ";
        width: 50px;
        height: 50px;
        background-color: white;
        border: 2px solid blue;
        border-radius: 50%;
        position: absolute;
        z-index:-1;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
    #display-panel.active{
        transform: rotate(90deg);
    }
}