{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex-row width-100 justify-start">
        {% include 'structure/aside_menu.html.twig' %}
        {% include 'structure/aside_interaction.html.twig' %}
    </div>
{% endblock %}